<app-head></app-head>

  <div class="body-pokemon">
    <button mat-raised-button class="botton" (click)="NewPokemon()">
      Novo Pokemon
    </button>
    <div class="body-cards">
      <div class="card" *ngFor="let pokemon of this.pokemons">
        <mat-card class="card-pokemon" style="text-align: center;">
          <img mat-card-sm-image src="{{ pokemon.imagem }}">

          <mat-card-title style="font-size: 20px;">
            <span matbadge="4" matbadgeoverlap="false" class="mat-badge mat-badge-above mat-badge-after mat-badge-medium">{{pokemon.nome}}<span id="mat-badge-content-0" aria-hidden="true" class="mat-badge-content mat-badge-active">{{ pokemon.num_pokemon }}</span></span>
            
          </mat-card-title>
          <mat-card-actions style="text-align: center;">
            <a routerLink="detail/{{pokemon.id}}">
              <i class="material-icons search">search</i>
            </a>
            <a routerLink="delete/{{pokemon.id}}">
              <i class="material-icons delete">delete</i>
          </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</mat-sidenav-container>
