* {
    box-sizing: border-box;
}
i.search {
    color: #d9cd26;
    margin-right: 10px;
}

i.delete {
    color: #e35e6b
}

button {
    margin: 0 0 30px 0;
}

button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: 0.5s;
}

.body-pokemon {
    padding: 2rem;
}

.body-cards {
    display: flex;
    width: 100%;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 14px;
}

.card {
    width: 12rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px 18px;
    border-radius: 20px;
    max-height: 468px;
    margin-left: 32px;
    
}

.card:first-child {
    margin-left: 0px;
}


@media screen and (max-width: 950px){
    .body-cards {
        flex-direction: row;
    }
    
    .card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    .card:last-child {
        margin-bottom: 0px;
    }

}
}

.content {
    padding: 16px;
    background-color: #fff;
}

