<mat-card class="form-otp">
    <mat-card-title>Cadastrar User</mat-card-title>
    <form>
        <mat-form-field class="input-width">
            <input matInput placeholder="Username (Ex.: admin)" [(ngModel)]="user.username" name="username" class="input-name">
        </mat-form-field>
        <br/>
        <mat-form-field class="input-width">
            <input matInput type="email" placeholder="Email" [(ngModel)]="user.email" name="email" class="input-name">
        </mat-form-field>
        <br/>
        <mat-form-field class="input-width">
            <input matInput placeholder="Código (enviado a seu e-mail)" [(ngModel)]="user.codigo" name="codigo" class="input-name">
        </mat-form-field>
        <br/>
        <mat-form-field class="input-width">
            <input matInput type="password" placeholder="Senha" [(ngModel)]="user.password" name="password" class="input-name">
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="CreateUser()" color="primary" class="cria">
        Criar
    </button>
</mat-card>