.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 40px;
}

.header .title-group {
    padding-left: 25px;
    padding-right: 5px;
}

button {
    font-size: 1.1rem;
    color: #49B4BB;
    padding-top: 10px;
}

.name {
    margin-right: 60px;
    color: grey;
    font-size: 1.1rem;
}
