<app-head></app-head>
<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="pokemon">
                <i class="material-icons">
                    home
                </i>
                Meus Pokemons
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <mat-card>
            <mat-card-title> Deletar {{ pokemon.nome }} </mat-card-title>
            <h3>Deseja concluir essa ação?</h3>
            <button mat-raised-button (click)="deletePokemon()" color="primary" >
                deletar
            </button>
        
            <button mat-raised-button (click)="return()">
                Voltar
            </button>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>
